{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/plugins/data-tables/css/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block content %}

    <!-- START CONTENT -->
    <section id="content">

            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <!-- Search for small screen -->
                <div class="header-search-wrapper grey hide-on-large-only">
                    <i class="mdi-action-search active"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h5 class="breadcrumbs-title">Demandes d'achat</h5>
                            <ol class="breadcrumbs">
                                <li><a href="{{ path('demande_index') }}">Liste des demandes d'achat</a></li>
                                <li class="active">Liste des demandes d'achat</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->            

            <!--start container-->
            <div class="container">
                <div class="section">
                    <div class="row">    
                        <div class="col s1">&nbsp;</div>  
                        <div class="col s10"> 
                            <a href="{{ path('demande_new') }}" class="btn waves-effect waves-light">Nouvelle demande
                            </a>
                        </div>
                        <div class="col s1">&nbsp;</div>  
                    </div>

                    <div class="row">&nbsp;</div> 

                    <div class="row">
                        <div class="col s1">&nbsp;</div>  
                        <div class="col s10">    
                            <div class="row cadreSaisie">
                                <div id="table-datatables">
                                    <div class="row">
                                        <div class="col s12">
                                            <form method="post" id="form" action="{{ path('achat_formulaire') }}">
                                            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" name="checkAll" class="filled-in" id="checkAll" />
                                                            <label for="checkAll">&nbsp</label>
                                                        </th>
                                                        <th>N°</th>
                                                        <th>Date demande</th>
                                                        <th>Unite</th>
                                                        <th>Unité demandeuse</th>
                                                        <th>Nbr produits</th>
                                                        <th>Etat</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for demande in demandes %}
                                                    <tr>
                                                        <td>
                                                            {% if demande.etatsDemandes[0].id==2 %}
                                                            <input  type="checkbox" 
                                                                    class="filled-in" 
                                                                    name="check{{ loop.index }}" 
                                                                    id="check{{ loop.index }}"
                                                                    value="{{ demande.id }}" />
                                                            <label for="check{{ loop.index }}">&nbsp</label>
                                                            {% endif %}
                                                        </td>
                                                        <td><a href="{{ path('demande_show', { 'id': demande.id }) }}">{{ demande.numeroBcn }}</a></td>
                                                        <td>{% if demande.dateDemande %}{{ demande.dateDemande|date('Y-m-d') }}{% endif %}</td>
                                                        <td>{{ demande.unite.libelle }}</td>                
                                                        <td>{{ demande.uniteDemandeuse.libelle }}</td>
                                                        <td>{{ demande.lignesDemandes|length }}</td>
                                                        <td>{{ demande.etatsDemandes[0].libelle }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <th colspan="7">
                                                        <a class="waves-effect waves-light btn" id="nouvelAchat">Nouvel achat</a>
                                                    </th>
                                                </tfoot>
                                            </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>            
                            </div>
                        </div>      
                        <div class="col s1">&nbsp;</div>  
                    </div>
                </div>      
            </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/data-tables/js/jquery.dataTables.min.js') }}"></script>></script>
    <script type="text/javascript" src="{{ asset('js/plugins/data-tables/data-tables-script.js') }}"></script>></script>

    <script type="text/javascript">
        $(document).on('click','#nouvelAchat',function(){
            $('#form').submit();
        });
    </script>
{% endblock %}
